<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='index/one.css' ) }}" />
  </head>
  <body>
    {% if myList %}

    <ul>
      {% for number in myList %}
      <li style="background-color: red; color: white; margin: 10px;">
        {{ number }}
      </li>
      {% endfor %}
    </ul>

    {% endif %} {% if name %}
    <div class="name">
      {{name}}
    </div>
    {% endif %}
  </body>
</html>
